.navbar-expand-lg {
  justify-content: space-between;
  border-bottom: .5px solid #EFF285;
  width: 100%;
  align-items: center;
  padding: 10px 0px;
}

.me-auto.navbar-nav {
  position: relative;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.me-auto a {
  text-align: center;
  text-decoration: underline;
  padding: 5px;
}

 a:hover {
  color:#F28972;
}

.me-auto .navbar-nav .active {
  background-color: black;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.site-title {
  padding: 5px;
  margin: 5px 5px 5px 15px;
}