@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Roboto:wght@400;500;700;900&display=swap');


body {
  margin-top: 12vh;
  background-color: black;
  color: rgba(255, 255, 255, .85);
  > .footer {
    position: sticky;
    top: 100vh;
  }
}

h1 {
  font-family: 'Libre Barcode 39 Text', 'Roboto', Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 3em;
  font-weight: normal;
}

h3 {
  color: #F26F63;
  font-size: 1.5em;
  text-align: right;
}

h2, h3, h4, h5, p, a, form, table, tr, td {
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}


.container {
  width: 80%;
  margin: 40px auto;
  padding: 10px;
}

.subheading {
  color: white;
  font-weight: bold;
  font-size: 2em;
  border: 1px solid;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 20px 0px;
}